apiVersion: apps/v1
kind: Deployment
# Metadata for the Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
# Specification of the Deployment    
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.16
        ports:
        - containerPort: 8080
# Can be status section, but usually omitted in manifest files